@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#__nuxt {
  @apply h-screen flex flex-col;
}

html, body {
  @apply h-screen text-sm;
}

body {
  background: rgb(105,62,167);
  background: linear-gradient(90deg, rgba(105,62,167,1) 0%, rgba(120,0,149,1) 50%, rgba(162,0,176,1) 100%);
}

.container {
  @apply max-w-98;
}

.error-text-bottom {
  @apply -mt-8 bg-pink-600 text-white font-bold py-2 px-4 rounded-full pointer-events-none;
}

a, a:visited{
  @apply p-2 inline-block text-center align-middle text-white uppercase text-xs;
}

@media (min-width:320px) { 
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
}
@media (min-width:480px) {
  /* smartphones, Android phones, landscape iPhone */
}
@media (max-width:767px) { 
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
  .error {
    height: 56vh;
  }
  .navbar-text{
    @apply px-2 pt-2 pb-4;
  }

  .error-text-top {
    @apply mt-8 -mb-4;
    font-size: 30px;
  }

  .error-text-center {
    font-size: 150px;
    line-height: 1;
  }
  .error-text-bottom {
    @apply mt-0;
  }
}
@media (min-width: 768px) {
  .error {
    height: 58vh;
  }
  .error-text-top {
    @apply mt-8 -mb-20;
    font-size: 30px;
  }

  .error-text-center {
    font-size: 200px;
  }
  .navbar-header{
    @apply flex justify-between items-center;
  }

  .navbar-button{
    @apply hidden;
  }

  .navbar-text{
    @apply flex p-0;
  }
}
@media (min-height:1025px) {
  /* big landscape tablets, laptops, and desktops */ 
}
@media (min-width:1281px) {
  /* hi-res laptops and desktops */ 
}
